<a href="https://colab.research.google.com/github/raisaurabh44/Practice_001/blob/main/Python_Vasi_Sir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('India won world cup')

India won world cup

In [2]:
print(10+5)
print(10-5)

15
5

In [3]:
#variables
num = 10 # 4 bytes
print(id(num),num) #-> id->address

num =20
print(id(num),num)

# extra unsued memory is cleared by Garbage collector (Mark and Sweep Algorithm)

134138930086416 10
134138930086736 20

In [4]:
# data types
# Python is a -> Dynamically typed language
num =10
print(num, type(num)) # -> integer -> 4 bytes of space

num =10.5
print(num,type(num)) # float -> 8bytes of memory

num = 'saurabh' # each char takes 1 bytes
print(num, type(num)) # string of -> 7 bytes

num = True # False
print(num,type(num)) # boolean -> 1 bytes each

10 <class 'int'>
10.5 <class 'float'>
saurabh <class 'str'>
True <class 'bool'>

In [5]:
# naming convention

#1. Pascal case -> FirstName , LastNameOfAPerson -> class it is used
#2. Camel case -> firstName , lastNamme , lastNameOfAPerson -> not recommended
#3. snake case -> first_name, last_name , last_name_of_a_person -> variables , functions

In [6]:
num1 =10
num2 = 15
print(num1 + num2)

25

In [8]:
num1= '10'
num2= 20
print(num1+num2) # type error because number cant be added to a string

TypeError: ignored

In [9]:
num1= '10'
num2= '20'
print(num1+num2) # no error but 2 string get concatinated

1020

In [11]:
# Bool + int -> Boolean will be trated as int ( True ->1 , False -> 0)
num1= True
num2= 20
print(num1+num2)

21

In [12]:
# int -> bool => it will be 0 for false only , and non zero or 1 for all other
print(bool(0), bool (-1) , bool (4) , bool(5.5))

False True True True

In [13]:
# Ppython is slow but memory efficient
# the interning range is -5 to 256
a=10
b=10
c=10
d=10
print(a, id(a))
print(b, id(b))
print(c, id(c))
print(d, id(d)) # upto 256 python will use same memory

a= 257
b= 257
print(a, id(a))
print(b, id(b))

10 134138930086416
10 134138930086416
10 134138930086416
10 134138930086416
257 134138435270000
257 134138435270256

In [14]:
# but we can still attach the same memory location if we want to we can use sys library
import sys

a= sys.intern(str(257))
b= sys.intern(str(257))

print(a, id(a))
print(b, id(b))

257 134138434040432
257 134138434040432

In [15]:
# Because python also consider string as variable it will be get same memory loacation , untill python understood it a string not a variable , which was done by using space

fname = 'saurabh_is_good'
lname = 'saurabh_is_good'
print(fname, id(fname))
print(lname, id(lname))

fname = 'saurabh is good'
lname = 'saurabh is good'
print(fname, id(fname))
print(lname, id(lname))

saurabh_is_good 134138407437040
saurabh_is_good 134138407437040
saurabh is good 134138407436912
saurabh is good 134138407438576

In [16]:
# Operaters
# 1. Arithmetic operators -> *,+,-,/,//,**,%

print(10+5)
print(10-5)
print(10*5)
print(12/5) # decimal
print(12//5) # double or floor division
print(12%5) # modulus
print(2**3)# exponentials -> 2^3=8

15
5
50
2.4
2
2
8

In [17]:
print(13//3) # 4
print(13%3) # 1

# but in case of python floor division is done

print(-13//3) # but here floor division values is used
print(-13%3) # floor value is given (ceil (upper value), floor(Lower value))

4
1
-5
2

In [18]:
import math

print(math.ceil(4.3))
print(math.floor(4.3))

print(math.ceil(4.000000000000001)) # python can only hndle 15 digits
print(math.floor(4.999999999999999))

5
4
5
4

In [19]:
# Operator and Operand
num = 10 + 15
num
# operands -> 10,15
# operator -> +
# = is an assingment operator

# BODMAS -> bracket off divide multiply add substract
print(10+5* 10/ 2)

35.0

In [20]:
# Assingment OPERATOR -> =
num = 10
print(num, id(num))

# add 15 to num and store in the same variable -> create new memory
num = num + 15
print(num, id(num))

10 134138930086416
25 134138930086896

In [21]:
# comparison operators -> >, >=,<,<=, ==, !=

print(10>15)
print(10>=15)
print(10<15)
print(10<=15)
print(10==16) # equal to
print(10!=15) # not equal to

False
False
True
True
False
True

In [22]:
# Logical operator -> or, and , not

# OR
# vote-> voter_id or age>= 18
age = 19
voter_id = True
print(age>=18 or voter_id == True) # either one condition shoud be true

age=17
print(age>=18 and voter_id == True) # both condition must be true

# NOT -> used to convert True to False or False to True
print (not(10>5))
print(not(10>15))

True
False
False
True

In [23]:
# Identity operator -> to compare address -> (is)
num1 =300
num2 = 300
print(num1 , id(num1))
print(num2 , id(num2))
print(num1 is num2) # address is uded to compare
print(num1==num2) # value is compared

print(num1 is not num2)

300 134138435270448
300 134138435270192
False
True
True

In [24]:
# membership operator -> in, not in
news = 'india wins the world cup 2023 . Virat won the man of the series'
word = 'India'

print(word in news) # cheching word is in news or not
print(word not in news)

False
True

In [25]:
# bitwise operator

# AND -> &
print(4 & 3) # it check the binary value and then and it so output is 0

print(2 & 3) # here output is 2
print(13 & 7)

# OR gate -> |
print(13 | 7 )

# XOR gate
print(13 ^ 7)

# Left shift operator << ->
print(2<<1) # in left shift  formula = (left * 2^right)
print(2<<2) # left shift is the power of 2 each left shift
print(2<<3)
print(2<<4)
print(2<<5)
print(2<<6)

# Right shift >>
print( 8>> 1 ) # -> half -> left / 2^ right
print(517 >> 6)

0
2
5
15
10
4
8
16
32
64
128
4
8

In [26]:
# strings

print('sachin tendulkar')
print("Sachin tendulkar 'good' cricketer ")

# triple quotes -> multi line string
print('''Sachin tendulkar is
         'good' "cricketer"''')

sachin tendulkar
Sachin tendulkar 'good' cricketer
Sachin tendulkar is
         'good' "cricketer"

In [27]:
first_name = 'saurabh'
last_name = 'rai'

print(first_name + ' ' + last_name + ' is a good boy')

# formatted sring ->f
print(f'{first_name} {last_name} is a good boy')

print('good boy', end=' ') # by default end value is new line but if we specify it will change
print('bad boy')

saurabh rai is a good boy
saurabh rai is a good boy
good boy bad boy

In [28]:
# input
name = input('Enter the name :')
age = input('Enter the age ')
print(name,age)

# input always take string data type

Enter the name :10
Enter the age 0
10 0

In [30]:
# type casting -> converting one data type to another
num1 = input('Enter the num 1 : ')
num2 = input('Enter the num 2 : ')
print (type(num1), type(num2))

num1=int(num1)
num2=int(num2)
print(type(num1), type(num2))

Enter the num 1 : 1
Enter the num 2 : 2
<class 'str'> <class 'str'>
<class 'int'> <class 'int'>

In [31]:
12# in a code if we want to validates correct values are entered or not we can use type casting
name = input('Enter the name :')
age = int(input('Enter the age '))
print(name,age)

Enter the name :s
Enter the age 2
s 2

In [32]:
name = 'akash'
print(len(name)) # len -> it gives length of string

# index -> starts from 0
print (name[0], name[1], name[2], name[4]) # if out of range it is an index error

5
a k a h

In [33]:
# string are immutable , every time new memory is created

In [34]:
# negation operator = ~ it reverses the data
print(~ 1)

-2

In [38]:
# Replace a character in a string
name ='RAM'
print(name, id(name))
name=name.replace('R', 'J',1)
print(name,id(name))

RAM 134138434319664
JAM 134138550795312

In [60]:
#collections -> List, Tuple, Set , Dictionary

# List -> [], duplicates are allowed ,indexed/ordered, mutable
empty_list=[]
print(empty_list, type(empty_list))
num=[1,2,3,4,3,0,45,5,5,5,5]
print(num) # dublicates are allowed

data= [1, 'vaasi' , True, 10.5]
print(data[3])

nums=[1,2,3,4,5]
nums[2]=10
nums[3]='Saurabh'
print(nums) # shows list is mutable

players = ['Abhi', 'Base', "come", 'Did']
#print(players.pop()) # pop remove the last data by default
#new_players=players.pop()
#print(new_players)
new_players=players.pop(0) # we can also pop elements with the index or with the string any thing we want
print(new_players)
print(players)

# we can directly remove items , but only one by one with remove()
players.remove('come')
print(players)

# we can also remove all data by clear() command
players.clear()
print(players)

# we ca add element with insert() command
players.insert(1,'saurabh')
print(players)
players.insert(2,['abhi','did','indi'])
print(players)

[] <class 'list'>
[1, 2, 3, 4, 3, 0, 45, 5, 5, 5, 5]
10.5
[1, 2, 10, 'Saurabh', 5]
Abhi
['Base', 'come', 'Did']
['Base', 'Did']
[]
['saurabh']
['saurabh', ['abhi', 'did', 'indi']]
None

In [65]:
# we can also append data
list1=['1','2','3',4]
list2=[4,5,6,'1','2']
list1.append(list2)
print(list1)
added= list1 + list2 # not recomended because its uses more memory
print(added)

# so for more memory efficent work we do extend
list1.extend(list2)
print(list1)

['1', '2', '3', 4, [4, 5, 6, '1', '2']]
['1', '2', '3', 4, [4, 5, 6, '1', '2'], 4, 5, 6, '1', '2']
['1', '2', '3', 4, [4, 5, 6, '1', '2'], 4, 5, 6, '1', '2']

In [66]:
students=['sau','bau','mum','boom']
# if we want to reverse we use reverse()
students.reverse()
print(students)

['boom', 'mum', 'bau', 'sau']