<a href="https://colab.research.google.com/github/raisaurabh44/Practice_001/blob/main/Python_Vasi_Sir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print('India won world cup')

India won world cup

In [4]:
print(10+5)
print(10-5)

15
5

In [5]:
#variables
num = 10 # 4 bytes
print(id(num),num) #-> id->address

num =20
print(id(num),num)

137851381301776 10
137851381302096 20

In [6]:
# data types
# Python is a -> Dynamically typed language
num =10
print(num, type(num)) # -> integer -> 4 bytes of space

num =10.5
print(num,type(num)) # float -> 8bytes of memory

num = 'saurabh' # each char takes 1 bytes
print(num, type(num)) # string of -> 7 bytes

num = True # False
print(num,type(num)) # boolean -> 1 bytes each

10 <class 'int'>
10.5 <class 'float'>
saurabh <class 'str'>
True <class 'bool'>

In [7]:
# naming convention

#1. Pascal case -> FirstName , LastNameOfAPerson -> class it is used
#2. Camel case -> firstName , lastNamme , lastNameOfAPerson -> not recommended
#3. snake case -> first_name, last_name , last_name_of_a_person -> variables , functions

In [8]:
num1 =10
num2 = 15
print(num1 + num2)

25

In [9]:
num1= '10'
num2= 20
print(num1+num2) # type error because number cant be added to a string

TypeError: ignored

In [ ]:
num1= '10'
num2= '20'
print(num1+num2) # no error but 2 string get concatinated

In [10]:
# Bool + int -> Boolean will be trated as int ( True ->1 , False -> 0)
num1= True
num2= 20
print(num1+num2)

21

In [11]:
# int -> bool => it will be 0 for false only , and non zero or 1 for all other
print(bool(0), bool (-1) , bool (4) , bool(5.5))

False True True True

In [12]:
# Ppython is slow but memory efficient

a=10
b=10
c=10
d=10
print(a, id(a))
print(b, id(b))
print(c, id(c))
print(d, id(d)) # upto 256 python will use same memory

a= 257
b= 257
print(a, id(a))
print(b, id(b))

10 137851381301776
10 137851381301776
10 137851381301776
10 137851381301776
257 137850887255024
257 137850887256752

In [13]:
# but we can still attach the same memory locatipn if we want to we can use sys library
import sys

a= sys.intern(str(257))
b= sys.intern(str(257))

print(a, id(a))
print(b, id(b))

257 137850885976688
257 137850885976688

In [14]:
# Because python also consider string as variable it will be get same memory loacation , untill python understood it a string not a variable , which was done by using space

fname = 'saurabh_is_good'
lname = 'saurabh_is_good'
print(fname, id(fname))
print(lname, id(lname))

fname = 'saurabh is good'
lname = 'saurabh is good'
print(fname, id(fname))
print(lname, id(lname))

saurabh_is_good 137850610366000
saurabh_is_good 137850610366000
saurabh is good 137850610365808
saurabh is good 137850610680496

In [15]:
# Operaters
# 1. Arithmetic operators -> *,+,-,/,//,**,%

print(10+5)
print(10-5)
print(10*5)
print(12/5) # decimal
print(12//5) # double or floor division
print(12%5) # modulus
print(2**3)# exponentials -> 2^3=8

15
5
50
2.4
2
2
8

In [16]:
print(13//3) # 4
print(13%3) # 1

# but in case of python floor division is done

print(-13//3) # but here floor division values is used
print(-13%3) # floor value is given (ceil (upper value), floor(Lower value))

4
1
-5
2

In [17]:
import math

print(math.ceil(4.3))
print(math.floor(4.3))

print(math.ceil(4.000000000000001)) # python can only hndle 15 digits
print(math.floor(4.999999999999999))

5
4
5
4