<a href="https://colab.research.google.com/github/raisaurabh44/Practice_001/blob/main/Python_Vasi_Sir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('India won world cup')

India won world cup

In [ ]:
print(10+5)
print(10-5)

15
5

In [ ]:
#variables
num = 10 # 4 bytes
print(id(num),num) #-> id->address

num =20
print(id(num),num)

# extra unsued memory is cleared by Garbage collector (Mark and Sweep Algorithm)

137851381301776 10
137851381302096 20

In [ ]:
# data types
# Python is a -> Dynamically typed language
num =10
print(num, type(num)) # -> integer -> 4 bytes of space

num =10.5
print(num,type(num)) # float -> 8bytes of memory

num = 'saurabh' # each char takes 1 bytes
print(num, type(num)) # string of -> 7 bytes

num = True # False
print(num,type(num)) # boolean -> 1 bytes each

10 <class 'int'>
10.5 <class 'float'>
saurabh <class 'str'>
True <class 'bool'>

In [ ]:
# naming convention

#1. Pascal case -> FirstName , LastNameOfAPerson -> class it is used
#2. Camel case -> firstName , lastNamme , lastNameOfAPerson -> not recommended
#3. snake case -> first_name, last_name , last_name_of_a_person -> variables , functions

In [ ]:
num1 =10
num2 = 15
print(num1 + num2)

25

In [ ]:
num1= '10'
num2= 20
print(num1+num2) # type error because number cant be added to a string

TypeError: ignored

In [ ]:
num1= '10'
num2= '20'
print(num1+num2) # no error but 2 string get concatinated

In [ ]:
# Bool + int -> Boolean will be trated as int ( True ->1 , False -> 0)
num1= True
num2= 20
print(num1+num2)

21

In [ ]:
# int -> bool => it will be 0 for false only , and non zero or 1 for all other
print(bool(0), bool (-1) , bool (4) , bool(5.5))

False True True True

In [ ]:
# Ppython is slow but memory efficient
# the interning range is -5 to 256
a=10
b=10
c=10
d=10
print(a, id(a))
print(b, id(b))
print(c, id(c))
print(d, id(d)) # upto 256 python will use same memory

a= 257
b= 257
print(a, id(a))
print(b, id(b))

10 137851381301776
10 137851381301776
10 137851381301776
10 137851381301776
257 137850887255024
257 137850887256752

In [ ]:
# but we can still attach the same memory location if we want to we can use sys library
import sys

a= sys.intern(str(257))
b= sys.intern(str(257))

print(a, id(a))
print(b, id(b))

257 137850885976688
257 137850885976688

In [ ]:
# Because python also consider string as variable it will be get same memory loacation , untill python understood it a string not a variable , which was done by using space

fname = 'saurabh_is_good'
lname = 'saurabh_is_good'
print(fname, id(fname))
print(lname, id(lname))

fname = 'saurabh is good'
lname = 'saurabh is good'
print(fname, id(fname))
print(lname, id(lname))

saurabh_is_good 137850610366000
saurabh_is_good 137850610366000
saurabh is good 137850610365808
saurabh is good 137850610680496

In [ ]:
# Operaters
# 1. Arithmetic operators -> *,+,-,/,//,**,%

print(10+5)
print(10-5)
print(10*5)
print(12/5) # decimal
print(12//5) # double or floor division
print(12%5) # modulus
print(2**3)# exponentials -> 2^3=8

15
5
50
2.4
2
2
8

In [ ]:
print(13//3) # 4
print(13%3) # 1

# but in case of python floor division is done

print(-13//3) # but here floor division values is used
print(-13%3) # floor value is given (ceil (upper value), floor(Lower value))

4
1
-5
2

In [ ]:
import math

print(math.ceil(4.3))
print(math.floor(4.3))

print(math.ceil(4.000000000000001)) # python can only hndle 15 digits
print(math.floor(4.999999999999999))

5
4
5
4

In [3]:
# Operator and Operand
num = 10 + 15
num
# operands -> 10,15
# operator -> +
# = is an assingment operator

# BODMAS -> bracket off divide multiply add substract
print(10+5* 10/ 2)

35.0

In [5]:
# Assingment OPERATOR -> =
num = 10
print(num, id(num))

# add 15 to num and store in the same variable -> create new memory
num = num + 15
print(num, id(num))

10 139885785661968
25 139885785662448

In [8]:
# comparison operators -> >, >=,<,<=, ==, !=

print(10>15)
print(10>=15)
print(10<15)
print(10<=15)
print(10==16) # equal to
print(10!=15) # not equal to

False
False
True
True
False
True

In [13]:
# Logical operator -> or, and , not

# OR
# vote-> voter_id or age>= 18
age = 19
voter_id = True
print(age>=18 or voter_id == True) # either one condition shoud be true

age=17
print(age>=18 and voter_id == True) # both condition must be true

# NOT -> used to convert True to False or False to True
print (not(10>5))
print(not(10>15))

True
False
False
True

In [14]:
# Identity operator -> to compare address -> (is)
num1 =300
num2 = 300
print(num1 , id(num1))
print(num2 , id(num2))
print(num1 is num2) # address is uded to compare
print(num1==num2) # value is compared

print(num1 is not num2)

300 139885291404880
300 139885291404144
False
True
True

In [15]:
# membership operator -> in, not in
news = 'india wins the world cup 2023 . Virat won the man of the series'
word = 'India'

print(word in news) # cheching word is in news or not
print(word not in news)

False
True

In [22]:
# bitwise operator

# AND -> &
print(4 & 3) # it check the binary value and then and it so output is 0

print(2 & 3) # here output is 2
print(13 & 7)

# OR gate -> |
print(13 | 7 )

# XOR gate
print(13 ^ 7)

# Left shift operator << ->
print(2<<1) # in left shift  formula = (left * 2^right)
print(2<<2) # left shift is the power of 2 each left shift
print(2<<3)
print(2<<4)
print(2<<5)
print(2<<6)

# Right shift >>
print( 8>> 1 ) # -> half -> left / 2^ right
print(517 >> 6)

0
2
5
15
10
4
8
16
32
64
128
4
8

In [28]:
# strings

print('sachin tendulkar')
print("Sachin tendulkar 'good' cricketer ")

# triple quotes -> multi line string
print('''Sachin tendulkar is
         'good' "cricketer"''')

sachin tendulkar
Sachin tendulkar 'good' cricketer
Sachin tendulkar is
         'good' "cricketer"

In [32]:
first_name = 'saurabh'
last_name = 'rai'

print(first_name + ' ' + last_name + ' is a good boy')

# formatted sring ->f
print(f'{first_name} {last_name} is a good boy')

print('good boy', end=' ') # by default end value is new line but if we specify it will change
print('bad boy')

saurabh rai is a good boy
saurabh rai is a good boy
good boy bad boy

In [34]:
# input
name = input('Enter the name :')
age = input('Enter the age ')
print(name,age)

# input always take string data type

Enter the name :# type casting
Enter the age gfnf
# type casting  gfnf

In [38]:
# type casting -> converting one data type to another
num1 = input('Enter the num 1 : ')
num2 = input('Enter the num 2 : ')
print (type(num1), type(num2))

num1=int(num1)
num2=int(num2)
print(type(num1), type(num2))

Enter the num 1 : 10
Enter the num 2 : 20
<class 'str'> <class 'str'>
<class 'int'> <class 'int'>

In [39]:
# in a code if we want to validates correct values are entered or not we can use type casting
name = input('Enter the name :')
age = int(input('Enter the age '))
print(name,age)

Enter the name :saurabh
Enter the age sa

ValueError: ignored

In [42]:
name = 'akash'
print(len(name)) # len -> it gives length of string

# index -> starts from 0
print (name[0], name[1], name[2], name[4]) # if out of range it is an index error

5
a k a h

In [ ]:
# string are immutable , every time new memory is created

In [43]:
# negation operator = ~ it reverses the data
print(~ 1)

-2